# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# Build files
build/
dist/
*.spec

# Database
*.db
*.sqlite

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Release folder
release/